<%- include header %>
<form method="post">
    Title：<input type="text" name="title"/><br />
    Content：<textarea name="post"></textarea><br/>
    <input type="submit" value="Submit"/>
</form>
<%- include footer %>